# KKBox Music Recommandaion Challenge

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")
np.random.seed(7)

In [2]:
songs = pd.read_csv('./music/songs.csv.gz')
train = pd.read_csv('./music/train.csv.gz')
members=pd.read_csv('./music/members.csv.gz')
test= pd.read_csv('./music/test.csv.gz')

In [3]:
songs.head()

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0
2,DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=,231781,465,SUPER JUNIOR,NaN,NaN,31.0
3,dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=,273554,465,S.H.E,湯小康,徐世珍,3.0
4,W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=,140329,726,貴族精選,Traditional,Traditional,52.0

In [4]:
members.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [5]:
songs.shape

(2296320, 7)

In [6]:
songs_extra = pd.read_csv('./music/song_extra_info.csv.gz')

In [7]:
songs_extra.shape

(2295971, 3)

In [8]:
songs_extra.head()

                                        song_id             name          isrc
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=               我們  TWUM71200043
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=  Let Me Love You  QMZSY1600015
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=              原諒我  TWA530887303
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=          Classic  USSM11301446
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=             愛投羅網  TWA471306001

In [9]:
train.shape

(7377418, 6)

In [10]:
train.drop(['msno'], axis=1).head()

,song_id,source_system_tab,source_screen_name,source_type,target
0,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [11]:
#check if the positive and negative samples are balanced
train.groupby('target').count()

           msno  song_id  source_system_tab  source_screen_name  source_type
target
0       3662762  3662762            3654264             3442828      3652536
1       3714656  3714656            3704783             3519786      3703343

In [12]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [13]:
train_merged=train.merge(songs, on='song_id', how="left").merge(members, on="msno",how="left").merge(songs_extra, on="song_id",how="left")
test_merged = test.merge(songs, on='song_id', how="left").merge(members, on="msno",how="left").merge(songs_extra, on="song_id",how="left")

In [14]:
train_merged.shape

(7377418, 20)

In [15]:
train_merged.columns

Index(['msno', 'song_id', 'source_system_tab', 'source_screen_name',
       'source_type', 'target', 'song_length', 'genre_ids', 'artist_name',
       'composer', 'lyricist', 'language', 'city', 'bd', 'gender',
       'registered_via', 'registration_init_time', 'expiration_date', 'name',
       'isrc'],
      dtype='object')

In [16]:
train_merged=train_merged.drop(['msno','song_id','isrc'],axis=1)
test_merged=test_merged.drop(['msno','song_id','isrc'],axis=1)

In [17]:
train_merged['source_system_tab'].nunique()

9

In [18]:
train_merged['source_screen_name'].nunique()

20

In [19]:
train_merged['artist_name'].nunique()

40582

In [20]:
train_merged['composer'].nunique()

76064

In [21]:
train_merged['lyricist'].nunique()

33889

In [22]:
train_merged['genre_ids'].nunique()

572

In [23]:
train_merged['language'].nunique()

10

In [24]:
#import math
train_merged['language']=train_merged['language'].astype('str')
test_merged['language']=test_merged['language'].astype('str')
train_merged['language'].dtypes

dtype('O')

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
#import sys
#sys.path.append('../')
from EAD_func import *

In [26]:
data_missing_check(train_merged)

total number of df length=7377418
source_system_tab                     0.25
source_screen_name                    5.62
source_type                           0.29
target                                0.00
song_length                           0.00
genre_ids                             1.61
artist_name                           0.00
composer                              22.71
lyricist                              43.09
language                              0.00
city                                  0.00
bd                                    0.00
gender                                40.14
registered_via                        0.00
registration_init_time                0.00
expiration_date                       0.00
name                                  0.02
number of missing row=5032230

[]

In [27]:
#train_merged=train_merged.fillna({'source_system_tab':'NA','source_screen_name':'NA','source_type':'NA',
#                     'genre_ids':'NA','composer':'NA','gender':'NA', 'name':'NA','lyricist':'NA'})
obj_cols=train_merged.select_dtypes(include=[object]).columns.values
train_merged=train_merged.fillna(dict((col,'NA') for col in obj_cols))
test_merged=test_merged.fillna(dict((col,'NA') for col in obj_cols))
#train_merged = train_merged.fillna(,'NA')

In [28]:
#make sure it is clean

data_missing_check(train_merged)

total number of df length=7377418
source_system_tab                     0.00
source_screen_name                    0.00
source_type                           0.00
target                                0.00
song_length                           0.00
genre_ids                             0.00
artist_name                           0.00
composer                              0.00
lyricist                              0.00
language                              0.00
city                                  0.00
bd                                    0.00
gender                                0.00
registered_via                        0.00
registration_init_time                0.00
expiration_date                       0.00
name                                  0.00
number of missing row=114

[]

In [29]:
data_missing_check(test_merged)

total number of df length=2556790
id                                    0.00
source_system_tab                     0.00
source_screen_name                    0.00
source_type                           0.00
song_length                           0.00
genre_ids                             0.00
artist_name                           0.00
composer                              0.00
lyricist                              0.00
language                              0.00
city                                  0.00
bd                                    0.00
gender                                0.00
registered_via                        0.00
registration_init_time                0.00
expiration_date                       0.00
name                                  0.00
number of missing row=25

[]

In [30]:
train_merged.dtypes

source_system_tab          object
source_screen_name         object
source_type                object
target                      int64
song_length               float64
genre_ids                  object
artist_name                object
composer                   object
lyricist                   object
language                   object
city                        int64
bd                          int64
gender                     object
registered_via              int64
registration_init_time      int64
expiration_date             int64
name                       object
dtype: object

In [31]:
#train_merged.head()
for col in obj_cols:
    train_test = pd.concat([train_merged[col], test_merged[col]], axis = 0)
    my_encoder = LabelEncoder().fit(train_test.astype(str))
    train_merged[col] = my_encoder.transform(train_merged[col].astype(str)).astype(np.int64)
    test_merged[col] = my_encoder.transform(test_merged[col].astype(str)).astype(np.int64)

In [32]:
train_merged.dtypes

source_system_tab           int64
source_screen_name          int64
source_type                 int64
target                      int64
song_length               float64
genre_ids                   int64
artist_name                 int64
composer                    int64
lyricist                    int64
language                    int64
city                        int64
bd                          int64
gender                      int64
registered_via              int64
registration_init_time      int64
expiration_date             int64
name                        int64
dtype: object

In [33]:
train_merged.head()

,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date,name
0,2,7,7,1,206471.0,307,3784,16653,17899,8,1,0,0,7,20120102,20171005,60288
1,4,8,5,1,284584.0,97,36868,51630,17899,8,13,24,1,9,20110525,20170911,95296
2,4,8,5,1,225396.0,97,24602,51540,17899,8,13,24,1,9,20110525,20170911,67090
3,4,8,5,1,255512.0,6,31652,41991,17899,0,13,24,1,9,20110525,20170911,40703
4,2,7,7,1,187802.0,2,5190,9701,17899,8,1,0,0,7,20120102,20171005,142830

In [34]:
#train_merged['song_length']=train_merged['song_length'].astype('str').str[0:-2].astype(int)
train_merged['song_length']=train_merged['song_length'].fillna(0.)
test_merged['song_length']=test_merged['song_length'].fillna(0.)

In [35]:
train_merged['song_length'].isnull().sum()

0

In [36]:
X = train_merged.drop(['target'],axis=1)
y = train_merged['target']

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=7)

In [37]:
from sklearn.tree import DecisionTreeClassifier

In [38]:
dtree = DecisionTreeClassifier(max_depth=4,random_state=7)

In [39]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=7,
            splitter='best')

In [40]:
dtree.score(X_test,y_test)

0.62516231961851165

In [116]:
from sklearn.model_selection import cross_val_score

In [119]:
scoring = cross_val_score(dtree,X,y, cv=10, scoring='roc_auc')
scoring

array([ 0.70695555,  0.70015885,  0.68791085,  0.67736266,  0.66644819,
        0.64446287,  0.61996345,  0.6128091 ,  0.60610919,  0.58961465])

In [120]:
from sklearn.model_selection import GridSearchCV
dtree2 = DecisionTreeClassifier(random_state=7)
parameters = {'max_depth':[3,4,5,6]}

In [121]:
clf=GridSearchCV(dtree2,param_grid=parameters, scoring='roc_auc', cv=5, verbose=1)

In [123]:
clf.fit(X,y)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed: 18.4min finished

GridSearchCV(cv=5, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=7,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': [3, 4, 5, 6]}, pre_dispatch='2*n_jobs',
       refit=True, return_train_score=True, scoring='roc_auc', verbose=1)

In [126]:
clf.best_estimator_, clf.best_score_

(DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
             max_features=None, max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, presort=False, random_state=7,
             splitter='best'), 0.65805738684847137)

In [127]:
clf.cv_results_

{'mean_fit_time': array([  27.4634768 ,   34.71687522,   41.93564696,  102.16773076]),
 'mean_score_time': array([ 0.5913476 ,  0.60251713,  0.62362523,  0.65742826]),
 'mean_test_score': array([ 0.64329904,  0.65121177,  0.65434651,  0.65805739]),
 'mean_train_score': array([ 0.64476611,  0.65396388,  0.65857953,  0.66262564]),
 'param_max_depth': masked_array(data = [3 4 5 6],
              mask = [False False False False],
        fill_value = ?),
 'params': [{'max_depth': 3},
  {'max_depth': 4},
  {'max_depth': 5},
  {'max_depth': 6}],
 'rank_test_score': array([4, 3, 2, 1], dtype=int32),
 'split0_test_score': array([ 0.69117986,  0.70379853,  0.70840112,  0.71072361]),
 'split0_train_score': array([ 0.63361639,  0.64178516,  0.64676495,  0.65087247]),
 'split1_test_score': array([ 0.67552902,  0.6824946 ,  0.68277316,  0.68589366]),
 'split1_train_score': array([ 0.63724202,  0.64660834,  0.65125413,  0.65600797]),
 'split2_test_score': array([ 0.64556306,  0.65287324,  0.65780523,  0.66260453]),
 'split2_train_score': array([ 0.64301756,  0.65162902,  0.6567799 ,  0.66106726]),
 'split3_test_score': array([ 0.6131546 ,  0.61805996,  0.62091632,  0.62592796]),
 'split3_train_score': array([ 0.65218044,  0.66222826,  0.66575634,  0.6700323 ]),
 'split4_test_score': array([ 0.59106855,  0.59883242,  0.60183661,  0.60513708]),
 'split4_train_score': array([ 0.65777413,  0.66756863,  0.67234234,  0.67514819]),
 'std_fit_time': array([   0.55981381,    0.41799022,    0.19037149,  105.11988324]),
 'std_score_time': array([ 0.01597652,  0.00631648,  0.00525479,  0.01165212]),
 'std_test_score': array([ 0.03734483,  0.03895994,  0.03903026,  0.03847629]),
 'std_train_score': array([ 0.00903512,  0.00960485,  0.00935314,  0.0088998 ])}

In [128]:
from sklearn.externals import joblib
joblib.dump(clf,'gridsearch-dtree-music.pkl')

['gridsearch-dtree-music.pkl']

In [129]:
clf = joblib.load('gridsearch-dtree-music.pkl')

In [130]:
mytree=clf.best_estimator_

In [135]:
pred=mytree.predict(test_merged.drop(['id'],axis=1))

In [136]:
pred

array([1, 1, 0, ..., 0, 0, 0])

In [139]:
data_test_sub=pd.DataFrame({'id':test_merged['id'],'target':pred})

In [143]:
data_test_sub.to_csv('music_submission.csv.gz',index=False,compression='gzip')

In [144]:
pred.shape

(2556790,)